
.config/discordcanary
.config/GitKraken
.config/gpick
.config/spotify
.confg/pulse
.config/pulse/
.config/Mumble/
.config/Code - Insiders/
.config/sublime-text-3
.config/virt-viewer
.config/xfce4
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Thunar
.config/QtProject
.config/remmina
.config/Qt
.config/qBittorrent
.config/QtProject.conf
.config/lutris
.config/libvirt
.config/menus
.config/freerdp
.config/discord
.config/mimeapps.list
.config/inkscape
.config/configstore
.config/copyq
.config/SoundWire
.config/pavucontrol.ini
.config/wal_steam
.config/htop
.config/Dharkael
.config/dconf
